.notFound {
    position: relative;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:36px;
}

.notFound::before {
    content: "";
    position: absolute;
    top: 0;
    right:0px;
    bottom: 0px;
    left:0px;
    background-image: url("/src/assets/images/brandi-redd-aJTiW00qqtI-unsplash.jpg");
    background-size: cover;
    background-position: top center ;
    opacity:0.5;

 }

.noPage {
    position: relative;
    font-size: 60px;
    margin: 0;
}

.linkToHome{
    position: relative;
    font-size: 30px;
}