.nav {
  margin: 0px;
}
.headline {
  font-weight: bold;
}

.list {
  list-style: none;
  padding: 0px;
}

.nav .active {
  background-color: #edf2fb;
  color: #012a4a;
}
.nav a {
  color: white;
  text-decoration: none;
  padding: 15px 60px;
  transition: 0.3s;
  display: block;
}
a:active,
a:visited {
  color: white;
}

a:hover {
  color: #012a4a;
  background-color: #edf2fb;
}
