.paginationBttns {
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  color: #0d3f64;
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid #0d3f64;
  border-radius: 5px;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #0d3f64;
}

.paginationActive a {
  color: white;
  background-color: #0d3f64;
}
