.container {
  color: #012a4a;
  /*display: flex;*/
  height: 100vh;
  border-radius: 4px;
}

.topDetail {
display: flex;
  padding: 12px;
}

.movieInfo {
  padding: 4px 16px;
}

h1 {
  font-size: 24px;
}

h3 {
  margin: 20px 0;
}

.tagLine {
  color:  #012a4a;
  font-size: 20px;
  font-style: italic;
}

.infoList {
  padding:0;
}

.infoItem{
  display:inline;
  margin-right: 5px;
}

.genreList {
  display:inline;
  padding: 0;
  list-style: none;
}

.genreItems{
  display:inline;
}

@media screen and (max-width: 810px){
  .topDetail {
   flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 375px){
  .movieImage {
width: 280px;
    height: 400px;
  }
  .movieInfo {
    padding: 0 2px;
  }
}