.app {
  background-color: #74bdcb; /*Aquamarine */
  display: flex;
  max-width: 1500px;
  height: 100vh;
  margin: 0 auto;
}

.sec_1 {
  background-color: #012a4a;
}

.sec_2 {
  flex-grow: 2;
  align-content: center;
  background-color: #edf2fb;
}

.main {
  padding: 15px;
}

.search {
}
