.app {
  max-width: 1400px;
  margin: 0 auto;
}

.main {
  display: flex;
  background-color: #edf2fb;
}

.sideContainer {
  background-color: #012a4a;

}

.displayContainer {
  /*padding: 15px;*/
  flex: 1;
}

.displayContainerHeader {
  max-height: 100px;
  padding-left: 16px;
  background-color: #012a4a;
}

@media screen and (max-width: 800px) {
  .sideContainer {
    display: none;
  }
}
