.header {
  display: flex;
  gap: 10px;
  align-items: center;

}

.titleLogo {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 35px;
  color: aliceblue;
  padding: 16px;
  margin: 10px;
}

.movieSearch {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 800px;

}

.searchBox {
  padding: 5px;
  border: none;
  width: 60%;
  height: 46px;
  border-radius: 4px 0 0 4px;
  border-right: 1px solid #012a4a;
  font-size: 16px;
}
