.header {
  display: flex;
  gap: 64px;
  align-items: center;

}

.logoNav {
  display: flex;
  align-items: center;
}

.navIcon {
display: none;
}

.logo {
  margin-left: 40px;
  margin-right: 40px;
}

.movieSearch {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  width: 800px;
}

.searchBox {
  padding: 5px;
  border: none;
  width: 60%;
  height: 46px;
  border-radius: 4px 0 0 4px;
  border-right: 1px solid #012a4a;
  font-size: 16px;
}
