.carouselContainer {
    height: 460px;
}
.carouselCard{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carouselItem{
    margin: 0 6px 10px 6px;
    border-radius: 6px;
}

/* Width is calculated by removing side-margins*/
@media screen and (max-width: 424px) {
    .carouselContainer {
        width: 280px;
    }
}
@media screen and (min-width: 425px) {
    .carouselContainer {
        width: 395px;
    }
}
@media screen and (min-width: 768px) {
    .carouselContainer {
        width: 720px;
    }
}


/* Width is calculated by removing side-nav width and side-margins*/
@media screen and (min-width: 1024px) {
    .carouselContainer {
        width: 753px;
    }
}


@media screen and (min-width: 1440px) {
    .carouselContainer {
        width: 1169px;
    }
}

@media screen and (min-width: 1600px) {
    .carouselContainer {
        width: 1300px;
    }
}

@media screen and (min-width: 2560px) {
    .carouselContainer {
        width: 2260px;
    }
}