.carouselContainer {
    height: 440px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.carouselCard {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carouselSlider {
    width: 240px;
    height: 360px;
}

.carouselItem{
    border-radius: 6px;
}

/* media queries */

@media screen and (min-width: 1440px){
    .carouselContainer {
        width: 1000px;
    }
}
@media screen and (max-width: 1440px){
    .carouselContainer {
        width: 753px;
    }
}


@media screen and (max-width: 1024px){
    .carouselContainer {
        width: 539px;
    }
}

@media screen and (max-width: 810px){
    .carouselContainer {
        width: 385px;
    }
    .carouselItem{
        margin: 0 10px;
    }
}

@media screen and (max-width: 425px) {
    .carouselContainer {
        width: 264px;
    }

.carouselItem{
        margin: 0 6px;
    }
}