.header {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

.movieSearch {
  max-height: 45px;
  flex: 2;
  max-width: 800px;
  margin: 0;
}

.searchBox {
  padding: 5px;
  border: none;
  width: 60%;
  height: 45px;
  border-radius: 4px 0 0 4px;
  border-right: 1px solid #012a4a;
  font-size: 16px;
}
