.header {
  background-color: #012a4a;
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Times New Roman";
  color: white;
  padding: 0 50px;
}

.movieSearch {
  height: 45px;
  display: flex;
  flex: 1;
  align-items: center;
}

.searchBox {
  padding: 10px;
  border: none;
  width: 80%;
  height: 45px;
  border-radius: 4px 0 0 4px;
  border-right: 1px solid #012a4a;
  font-size: 16px;
}
