.btn {
  display: inline-block;
  color: #0d3f64;
  background-color: white;
  text-align: center;
  width: 80px;
  line-height: 45px;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  transition-duration: 0.4s;
}

.btn:hover,
.btn:active {
  background-color: #edf2fb;
}
