.paginate {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 70px;
}
.paginationBttns {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.paginationBttns a {
  color: #0d3f64;
  margin: 2px;
  padding: 5px 10px;
  border: 1px solid #0d3f64;
  border-radius: 5px;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #0d3f64;
}

.paginationActive a {
  color: white;
  background-color: #0d3f64;
}

@media screen and (max-width: 425px) {
  .paginationBttns a {
    padding: 2px 5px;
  }
}

